{% comment %}
  @param layout {String}
    Layout type

  @param show_description {Bool}
    If false, hide the product description

  @param gallery_aspect_ratio {string}
    This is the gallery aspect ratio, can be one of 'natural', 'short', 'square', 'long'

  @param gallery_thumbnail_position {string}
    This is the gallery thumbnail position, can be one of 'below', or 'left'

  @param gallery_image_crop {boolean}
    Whether to crop images

  @param gallery_hover_zoom {String}
    This is the hover zoom setting, which is either 'disabled', 'separate', or 'replace'

  @param gallery_click_to_zoom {String}
    This is the click to zoom setting, which is either 'disabled', 'mobile', 'desktop', or 'always'
{% endcomment %}

{% unless show_description %}
  {% assign show_description = true %}
{% endunless %}
{% assign enable_social_sharing = settings.product_social_sharing %}
{% assign selected_variant = product.selected_or_first_available_variant %}
{% assign selected_image = selected_variant.image | default: product.featured_image %}
{% assign compare_at_price = selected_variant.compare_at_price %}
{% assign price = selected_variant.price %}
{% assign sku = selected_variant.sku %}
{% assign product_available = product.available %}

{%
  include 'api' with 'variant:price',
  product: product,
  variant: selected_variant,
%}

{% if onboarding %}
  {% assign compare_at_price = 2999 %}
  {% assign price = 1999 %}
{% endif %}

{% assign on_sale = false %}
{% if compare_at_price > price %}
  {% assign on_sale = true %}
{% endif %}

{%- capture share_buttons -%}
  {% assign social_image = false %}
  {% if product.featured_image %}
    {% assign social_image = product.featured_image | img_url: '1024x' %}
  {% endif %}
  {% assign social_url = shop.url | append: product.url %}
  {%-
    include 'share-buttons',
    snippet_title: 'general.share_buttons.title',
    social_image: social_image,
    social_title: product.title,
    social_url: social_url
  -%}
{%- endcapture  -%}

<article class="product--outer">
  {% comment %}
    Product slideshow, never moves
  {% endcomment %}
  {%
    include 'product-gallery',
    selected_image: selected_image,
    is_product_modal: false,
    aspect_ratio: gallery_aspect_ratio,
    thumbnail_position: gallery_thumbnail_position,
    image_crop: gallery_image_crop,
    click_to_zoom: gallery_click_to_zoom,
    hover_zoom: gallery_hover_zoom,
    onboarding: onboarding,
  %}
  <div class="product-main">
    <div class="product-details" data-product-details>
      {% if template == 'index' %}
        <h2 class="product-title">
      {% else %}
        <h1 class="product-title">
      {% endif %}
        {% unless onboarding %}
          {{ product.title }}
        {% else %}
          {{ 'onboarding.product.title' | t }}
        {% endunless %}
      {% if template == 'index' %}
        </h2>
      {% else %}
        </h1>
      {% endif %}

      {% if settings.product_show_vendor and product.vendor != blank or onboarding %}
        <div class="product-vendor">
          {% unless onboarding %}
            {%- capture vendor_link -%}
              {{ product.vendor | link_to_vendor }}
            {%- endcapture -%}
            {{ 'product.general.by_vendor_html' | t: vendor_link: vendor_link }}
          {% else %}
            {{ 'onboarding.product.by_vendor' | t }}
          {% endunless %}
        </div>
      {% endif %}

      {% if settings.product_ratings_reviews %}
        <div class="product-ratings">
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}">
            <span class="spr-badge">
              <span class="spr-starrating spr-badge-starrating">
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
              </span>
            </span>
          </span>
        </div>
      {% endif %}

      <div class="product-pricing" aria-live="polite">
        {%
          include 'product-badge',
          class_root: 'product',
          product_available: product_available,
          on_sale: on_sale,
          price: price,
          compare_at_price: compare_at_price,
          show_saved: true
        %}

        {%
          include 'product-price',
          class_root: 'product',
          price: price,
          price_varies: false,
          compare_at_price: compare_at_price,
          compare_at_price_varies: false,
          on_sale: on_sale,
          emphasize_price: false,
          show_original: true
        %}
      </div>

      {% if settings.product_show_sku == true %}
        {% unless onboarding %}
          <div
            class="
              product-sku
              {% if sku == empty %}product-sku--empty{% endif %}
            "
          >
           
            {{ 'product.general.sku_html' | t: sku: sku | strip_newlines }}
          </div>
        {% endunless %}
      {% endif %}
    </div>

    {% comment %}
      Product form original location, will remain unless is 3 column layout
    {% endcomment %}
    {%- assign product_sold_out = false -%}
    {%- if settings.in_stock_notification_form != 'disabled' and product.available == false -%}
      {%- assign product_sold_out = true -%}
    {%- endif -%}
    <div class="product-form--regular" data-product-form-regular>
      <div {% if product_sold_out %}class="product-sold-out"{% endif %} data-product-form-area>
        {% unless onboarding %}
          {%
            include 'product-form',
            product: product,
            selected_variant: selected_variant,
            is_product_modal: false,
          %}
          {%- if settings.in_stock_notification_form != 'disabled' -%}
            {%
              include 'product-in-stock-notification-form',
              product: product,
            %}
          {%- endif -%}
        {% endunless %}
        {% unless show_description %}
          <a
            href="{{ product.url | within: collection }}"
            class="product-link"
            data-product-details-link
          >
            {{ 'product.buttons.view_details' | t }}
          </a>
        {% endunless %}

        {% if enable_social_sharing %}
          {{ share_buttons | strip_newlines }}
        {% endif %}
      </div>
    </div>

    {% comment %}
      Product description field, never moves
    {% endcomment %}
    {% capture product_description %}{%- include 'shortcode-readmore', text: product.description, before_readmore: true -%}{% endcapture %}
    {% if product_description != blank and show_description %}
      <div class="product-description rte" data-product-description>
        
        
        {% if variant.metafields.specs != blank %}
        	<div class="metafields-desc">
         <!--metafields realstock-->
              <p class="union-stock"><strong>Union Stock</strong>:<a id="realstock"> 
                
                {% if variant.inventory_quantity <= 0 %}
                	Out of stock
                {% elsif variant.inventory_quantity > 0 %}
                	Available at Union
                {% endif %}
                
                {% capture 'meta_data_realstock' %}
                    {% for variant in product.variants %}
                  
                {% if variant.inventory_quantity <= 0 %}
                	{{ variant.sku | json }}: {{ "Out of stock" | json }}
                {% elsif variant.inventory_quantity > 0 %}
                	{{ variant.sku | json }}: {{ "Available at Union" | json }}
                {% endif %}
                
                      
                {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
              <!--metafields realstock-->
              
              
              <!--metafields realstock quantity-->
              <p class="item-code"><strong>Union Quantity</strong>:<a id="realstock-quant">
                {{ variant.inventory_quantity }}
                {% capture 'meta_data_realstock_quant' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.inventory_quantity | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
              <!--metafields realstock quantity-->
        
			{% if product.vendor == 'Eglo' or product.vendor == 'Hubbardton Forge' or product.vendor == 'Accord Lighting' or product.vendor == 'Bulbrite' or product.vendor == 'Kendal' or product.vendor == 'PageOne' or product.vendor == 'Nuevo' or product.vendor == 'Schonbek'%}
        	{% else %}
                    <!--metafields manufacturerstock-->
			{% if variant.metafields.specs.manufacturerstock != blank and variant.metafields.specs.manufacturerstock != 0 %}
              <p class="manu-stock"><strong>Manufacturer Stock</strong>:
                <a id="manufacturerstock">
                  
                  {% if product.vendor == 'Visual Comfort Modern' or product.vendor == 'Visual Comfort Signature' or product.vendor == 'Visual Comfort Studio' or product.vendor == 'Visual Comfort Fans' or product.vendor == 'Kichler' or product.vendor == 'WAC' or product.vendor == 'Modern Forms' or product.vendor == 'Modern Forms Fans'%}
                  This item is in stock at our manufacturer. ETA 3-4 weeks.
                  {% else %}
                  This item is in stock at our manufacturer. ETA 3-4 weeks for arrival at Union.
                  {% endif %}
                  
                  {% capture 'meta_data_manufacturerstock' %}
                    {% for variant in product.variants %}
                  
                  		{% if variant.metafields.specs.dateavailable == "-" %}
                          {% if variant.metafields.specs.manufacturerstock != 0 %}
                  	{% if product.vendor == 'Visual Comfort Modern' or product.vendor == 'Visual Comfort Signature' or product.vendor == 'Visual Comfort Studio' or product.vendor == 'Kichler' or product.vendor == 'WAC' or product.vendor == 'Modern Forms' or product.vendor == 'Modern Forms Fans'%}
                            {{ variant.sku | json }}: {{ "This item is in stock at our manufacturer. ETA 3-4 weeks for arrival at Union." | json }}
                  	{% else %}
                   			{{ variant.sku | json }}: {{ "This item is in stock at our manufacturer. ETA 3-4 weeks." | json }}
                  	{% endif %}
                  
                  {% unless forloop.last %},{% endunless %}
                          {% elsif variant.metafields.specs.manufacturerstock == 0 %}
                              {{ variant.sku | json }}: {{ "This item is currently out of stock at our manufacturer. Please Email us at serviceweb@unionltg.com for its availability." | json }}
                              {% unless forloop.last %},{% endunless %}
                          {% endif %}
                  		{% elsif variant.metafields.specs.dateavailable != "-" %}
                  			{% if variant.metafields.specs.manufacturerstock != 0 %}
                              {{ variant.sku | json }}: {{ "This item is in stock at our manufacturer. ETA 3-4 weeks for arrival at Union." | json }}
                              {% unless forloop.last %},{% endunless %}
                            {% elsif variant.metafields.specs.manufacturerstock == 0 %}
                                {{ variant.sku | json }}: {{ "This item is out of stock at our manufacturer. Eta is "  | append: variant.metafields.specs.dateavailable | append: ", add 3-4 weeks for arrival at Union." | json }}
                                {% unless forloop.last %},{% endunless %}
                            {% endif %}
                  		{% endif %}

                  
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
            
              
              {% elsif variant.metafields.specs.manufacturerstock != blank and variant.metafields.specs.manufacturerstock == 0 %}
              <p class="manu-stock"><strong>Manufacturer Stock</strong>:
                <a id="manufacturerstock">
                  
                  
                  {% if variant.metafields.specs.dateavailable == "-" %}
                          {% if variant.metafields.specs.manufacturerstock != 0 %}
                            This item is in stock at our manufacturer. ETA 2-4 weeks
                            
                          {% elsif variant.metafields.specs.manufacturerstock == 0 %}
                              This item is currently out of stock at our manufacturer. Please Email us at serviceweb@unionltg.com for its availability.
                          {% endif %}
                  
                  		{% elsif variant.metafields.specs.dateavailable != "-" %}
                  			{% if variant.metafields.specs.manufacturerstock != 0 %}
                              This item is in stock at our manufacturer. ETA 2-4 weeks
                  
                            {% elsif variant.metafields.specs.manufacturerstock == 0 %}
                                This item is out of stock at our manufacturer. Eta is {{variant.metafields.specs.dateavailable}}, add 3-4 weeks for arrival at Union.
                            {% endif %}
                  		{% endif %}
                  
                  {% capture 'meta_data_manufacturerstock' %}
                    {% for variant in product.variants %}
                  
                  		{% if variant.metafields.specs.dateavailable == "-" %}
                          {% if variant.metafields.specs.manufacturerstock != 0 %}
                            {{ variant.sku | json }}: {{ "This item is in stock at our manufacturer. ETA 2-4 weeks" | json }}
                            {% unless forloop.last %},{% endunless %}
                          {% elsif variant.metafields.specs.manufacturerstock == 0 %}
                              {{ variant.sku | json }}: {{ "This item is currently out of stock at our manufacturer. Please Email us at serviceweb@unionltg.com for its availability." | json }}
                              {% unless forloop.last %},{% endunless %}
                          {% endif %}
                  		{% elsif variant.metafields.specs.dateavailable != "-" %}
                  			{% if variant.metafields.specs.manufacturerstock != 0 %}
                              {{ variant.sku | json }}: {{ "This item is in stock at our manufacturer. ETA 2-4 weeks" | json }}
                              {% unless forloop.last %},{% endunless %}
                            {% elsif variant.metafields.specs.manufacturerstock == 0 %}
                                {{ variant.sku | json }}: {{ "This item is out of stock at our manufacturer. Eta is "  | append: variant.metafields.specs.dateavailable | append: ", add 3-4 weeks for arrival at Union." | json }}
                                {% unless forloop.last %},{% endunless %}
                            {% endif %}
                  		{% endif %}

                  
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
              
              
              {% endif %}
              <!--metafields manufacturerstock-->
              
              

              
              
              <!--metafields manufacturerstock quantity-->
              <p class="item-code"><strong>Manufacturer Quantity</strong>:<a id="manufacturerstock-quant">
                {{ variant.metafields.specs.manufacturerstock }}
                {% capture 'meta_data_manufacturerstock_quant' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.metafields.specs.manufacturerstock | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
              <!--metafields manufacturerstock quantity-->
              
              
            <!--metafields manufacturerstock-->
              {% endif %}
        </div>
              {% endif %}<br>
        
        
        
        {{ product_description }}
                
        <!--scenario #2-->
        {% if variant.metafields.specs != blank %}
        	<div class="metafields-desc">
          	
            <!--metafields UnionSKU-->

              
              <p class="item-code"><strong>Union SKU</strong>:
                <a id="UnionSKU">
                  
                
                  {% if variant.metafields.specs.unionsku != blank %}
                  	{{ variant.metafields.specs.unionsku}}
                  {% else %}
					None
                  {% endif %}
                  
                  
                  {% capture 'meta_data_UnionSKU' %}
                    {% for variant in product.variants %}
                  
                  		{% if variant.metafields.specs.unionsku != blank %}
                            {{ variant.sku | json }}: {{ variant.metafields.specs.unionsku | json }}
                            {% unless forloop.last %},{% endunless %}

                  		{% else %}
                              {{ variant.sku | json }}: {{ "None" | json }}
                      		  {% unless forloop.last %},{% endunless %}
                  		{% endif %}

                  
                    {% endfor %}
                  {% endcapture %}

                </a>
              </p>
              
              

            <!--metafields UnionSKU-->
              
              <!--metafields manucode-->
			{% if variant.metafields.specs.manucode != blank %}
              <p class="item-code"><strong>Item #</strong>:
                <a id="manucode">
                  {{ variant.metafields.specs.manucode}}
                  {% capture 'meta_data_manucode' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.metafields.specs.manucode | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
            {% endif %}
            <!--metafields manucode-->
              
			<!--metafields active-->
			{% if variant.metafields.specs.active != blank %}
              <p class="item-code"><strong>Active:</strong>
                <a id="active-dis">
                  {{ variant.metafields.specs.active}}
                  {% capture 'meta_data_active' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.metafields.specs.active | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
            {% endif %}
            <!--metafields active-->
             
              
            <!--metafields StatusDate-->
			{% if variant.metafields.specs.StatusDate != blank %}
              <p class="item-code"><strong>Active/Discontinued Status Change Date</strong>:
                <a id="StatusDate">
                  {{ variant.metafields.specs.StatusDate}}
                  {% capture 'meta_data_StatusDate' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.metafields.specs.StatusDate | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
            {% endif %}
            <!--metafields StatusDate-->
              
              <!--metafields EffectiveDate-->
			{% if variant.metafields.specs.EffectiveDate != blank %}
              <p class="item-code"><strong>Price Sheet Effective Date</strong>:
                <a id="EffectiveDate">
                  {{ variant.metafields.specs.EffectiveDate}}
                  {% capture 'meta_data_EffectiveDate' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.metafields.specs.EffectiveDate | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
            {% endif %}
            <!--metafields EffectiveDate-->
              
              <!--metafields CartonSize-->
			{% if variant.metafields.specs.CartonSize != blank %}
              <p class="item-code"><strong>Shipping Carton Size</strong>:
                <a id="CartonSize">
                  {{ variant.metafields.specs.CartonSize}}
                  {% capture 'meta_data_CartonSize' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.metafields.specs.CartonSize | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
            {% endif %}
            <!--metafields CartonSize-->
          
                 <!--metafields CartonSize2-->
			{% if variant.metafields.specs.CartonSize2 != blank %}
              <p class="item-code"><strong>Shipping Carton 2 Size</strong>:
                <a id="CartonSize">
                  {{ variant.metafields.specs.CartonSize2}}
                  {% capture 'meta_data_CartonSize2' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.metafields.specs.CartonSize2 | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
            {% endif %}
            <!--metafields CartonSize2-->

          <!--metafields Total Shipping Weight-->
			{% if variant.metafields.specs.total_shipping_weight != blank %}
              <p class="item-code"><strong>Total Shipping Weight of All boxes</strong>:
                <a id="total_shipping_weight">
                  {{ variant.metafields.specs.total_shipping_weight}}
                  {% capture 'meta_data_total_shipping_weight' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.metafields.specs.total_shipping_weight | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
            {% endif %}
            <!--metafields Total Shipping Weight-->
          
           <!--metafields ShippedVia-->
			{% if variant.metafields.specs.ShippedVia != blank %}
              <p class="item-code"><strong>Shipped Via</strong>:
                <a id="ShippedVia">
                  {{ variant.metafields.specs.ShippedVia}}
                  {% capture 'meta_data_ShippedVia' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.metafields.specs.ShippedVia | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
            {% endif %}
            <!--metafields ShippedVia-->
              
           <!--metafields Dropship-->
			{% if variant.metafields.specs.Dropship != blank %}
              <p class="item-code"><strong>Drop Ship</strong>:
                <a id="Dropship">
                  {{ variant.metafields.specs.Dropship}}
                  {% capture 'meta_data_Dropship' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.metafields.specs.Dropship | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
            {% endif %}
            <!--metafields Dropship-->
              
              <!--metafields bodytext-->
			{% if variant.metafields.specs.bodytext != blank %}
              <p>
                <a id="bodytext"> 
                  {{ variant.metafields.specs.bodytext.value}}
                  {% capture 'meta_data_bodytext' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.metafields.specs.bodytext.value | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
            {% endif %}
            <!--metafields bodytext-->
              
              
            <!--metafields finish-->
			{% if variant.metafields.specs.finish != blank %}
              <p><BR><strong>Finish</strong>:
                <a id="finish"> 
                  {{ variant.metafields.specs.finish}}
                  {% capture 'meta_data_finish' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.metafields.specs.finish | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
            {% endif %}
            <!--metafields finish-->
              
              
			<!--metafields shade-->
			{% if variant.metafields.specs.shade != blank %}
              <p><strong>Shade</strong>:
                <a id="shade">
                  {{ variant.metafields.specs.shade}}
                  {% capture 'meta_data_shade' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.metafields.specs.shade | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
            {% endif %}
            <!--metafields shade-->
 
              
            <!--metafields material-->
			{% if variant.metafields.specs.material != blank %}
              <p><strong>Material</strong>:
                <a id="material">
                  {{ variant.metafields.specs.material}}
                  {% capture 'meta_data_material' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.metafields.specs.material | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
            {% endif %}
            <!--metafields material-->
              
            <!--metafields dimensions-->
			{% if variant.metafields.specs.dimensions != blank %}
              <p><strong>Dimensions</strong>:
                <a id="dimensions">
                  {{ variant.metafields.specs.dimensions}}
                  {% capture 'meta_data_dimensions' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.metafields.specs.dimensions | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
               </p>
             
            {% endif %}
            <!--metafields dimensions-->
              
            <!-- Hanging warning message FOR ONLY LIGHTING, (Joanne)-->
  			 {% if product.type == "Lighting" %}
                 <p><strong>Please refer to Spec Sheet for additional height requirements for hanging.</strong></p>
               {% else product.tags == "Category_Bulbs" %}
             <p><strong>TEST</strong></p>      
             {% endif %}
            <!-- Hanging warning message (Joanne)-->
        
            <!--metafields weight-->
			{% if variant.metafields.specs.weight != blank %}
              <p><strong>Weight</strong>:
                <a id="weight">
                  {{ variant.metafields.specs.weight}}
                  {% capture 'meta_data_weight' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.metafields.specs.weight | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
            {% endif %}
            <!--metafields weight-->
           
            <!--metafields fanairflow-->
			{% if variant.metafields.specs.fanairflow != blank %}
              <p><strong>Fan Airflow</strong>:
                <a id="fanairflow">
                  {{ variant.metafields.specs.fanairflow}}
                  {% capture 'meta_data_fanairflow' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.metafields.specs.fanairflow | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
            {% endif %}
            <!--metafields fanairflow-->
              
              
              <!--metafields electricityuse-->
			{% if variant.metafields.specs.electricityuse != blank %}
              <p><strong>Electricity Use</strong>:
                <a id="electricityuse">
                  {{ variant.metafields.specs.electricityuse}}
                  {% capture 'meta_data_electricityuse' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.metafields.specs.electricityuse | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
            {% endif %}
            <!--metafields electricityuse-->
              
              
              <!--metafields airflowefficiency-->
			{% if variant.metafields.specs.airflowefficiency != blank %}
              <p><strong>Airflow Efficiency</strong>:
                <a id="airflowefficiency">
                  {{ variant.metafields.specs.airflowefficiency}}
                  {% capture 'meta_data_airflowefficiency' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.metafields.specs.airflowefficiency | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
            {% endif %}
            <!--metafields airflowefficiency-->
              
              
              <!--metafields bladeqty-->
			{% if variant.metafields.specs.bladeqty != blank %}
              <p><strong>Blade Qty</strong>:
                <a id="bladeqty">
                  {{ variant.metafields.specs.bladeqty}}
                  {% capture 'meta_data_bladeqty' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.metafields.specs.bladeqty | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
            {% endif %}
            <!--metafields bladeqty-->
              
              <!--metafields bladefinish-->
			{% if variant.metafields.specs.bladefinish != blank %}
              <p><strong>Blade Finish</strong>:
                <a id="bladefinish">
                  {{ variant.metafields.specs.bladefinish}}
                  {% capture 'meta_data_bladefinish' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.metafields.specs.bladefinish | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
            {% endif %}
            <!--metafields bladefinish-->

              <!--metafields bulbs-->
			{% if variant.metafields.specs.bulbs != blank and variant.metafields.specs.bulbs != " Not Included" %}
              <p><strong>Bulbs</strong>:
                <a id="bulbs">
                  {{ variant.metafields.specs.bulbs}}
                  {% capture 'meta_data_bulbs' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.metafields.specs.bulbs | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
            {% endif %}
            <!--metafields bulbs-->
              
          <!--metafields safety rating-->
			{% if variant.metafields.specs.safetyrating != blank and variant.metafields.specs.bulbs != " Not Included"%}
              <p><strong>Safety Rating</strong>:
                <a id="safetyrating">
                  {{ variant.metafields.specs.safetyrating}}
                  {% capture 'meta_data_safetyrating' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.metafields.specs.safetyrating | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
            {% endif %}
            <!--metafields safety rating-->
          
              <!--metafields rug pile height-->
			{% if variant.metafields.specs.rugpileheight != blank %}
              <p><strong>Rug Pile Height</strong>:
                <a id="rugpileheight"> 
                  {{ variant.metafields.specs.rugpileheight}}
                  {% capture 'meta_data_rugpileheight' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.metafields.specs.rugpileheight | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
            {% endif %}
            <!--metafields rug pile height-->

           <!--metafields HARDWARE center to center-->
			{% if variant.metafields.specs.hwcentertocenter != blank %}
              <p><strong>Center to Center</strong>:
                <a id="hwcentertocenter"> 
                  {{ variant.metafields.specs.hwcentertocenter}}
                  {% capture 'meta_data_hwcentertocenter' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.metafields.specs.hwcentertocenter | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
            {% endif %}
            <!--metafields center to center-->
          
            <!--metafields HARDWARE projection-->
			{% if variant.metafields.specs.hwprojection != blank %}
              <p><strong>Projection</strong>:
                <a id="hwprojection"> 
                  {{ variant.metafields.specs.hwprojection}}
                  {% capture 'meta_data_hwprojection' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.metafields.specs.hwprojection | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
            {% endif %}
            <!--metafields projection-->

          <!--metafields HARDWARE diameter-->
			{% if variant.metafields.specs.hwdiameter != blank %}
              <p><strong>Diameter</strong>:
                <a id="hwdiameter"> 
                  {{ variant.metafields.specs.hwdiameter}}
                  {% capture 'meta_data_hwdiameter' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.metafields.specs.hwdiameter | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
            {% endif %}
            <!--metafields diameter-->
          
          <!--metafields HARDWARE base diameter-->
			{% if variant.metafields.specs.hwbasediameter != blank %}
              <p><strong>Base Diameter</strong>:
                <a id="hwbasediameter"> 
                  {{ variant.metafields.specs.hwbasediameter}}
                  {% capture 'meta_data_hwbasediameter' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.metafields.specs.hwbasediameter | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
            {% endif %}
            <!--metafields base diameter-->


          <!--metafields HARDWARE hwwidth-->
          
			{% if variant.metafields.specs.hwwidth != blank %}
              <p><strong>Width</strong>:
                <a id="hwwidth"> 
                  {{ variant.metafields.specs.hwwidth}}
                  {% capture 'meta_data_hwwidth' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.metafields.specs.hwwidth | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
            {% endif %}
            <!--metafields hwwidth-->
          
          <!--metafields HARDWARE hwlength-->
          
			{% if variant.metafields.specs.hwlength != blank %}
              <p><strong>Length</strong>:
                <a id="hwlength"> 
                  {{ variant.metafields.specs.hwlength}}
                  {% capture 'meta_data_hwlength' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.metafields.specs.hwlength | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
            {% endif %}
            <!--metafields hwlength-->

           <!--metafields HARDWARE item base length-->
			{% if variant.metafields.specs.hwitembaselength != blank %}
              <p><strong>Base Length</strong>:
                <a id="hwitembaselength"> 
                  {{ variant.metafields.specs.hwitembaselength}}
                  {% capture 'meta_data_hwitembaselength' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.metafields.specs.hwitembaselength | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
            {% endif %}
            <!--metafields hwitembaselength-->

          <!--metafields HARDWARE hwinstallationtype-->
			{% if variant.metafields.specs.hwinstallationtype != blank %}
              <p><strong>Installation Type</strong>:
                <a id="hwinstallationtype"> 
                  {{ variant.metafields.specs.hwinstallationtype}}
                  {% capture 'meta_data_hwinstallationtype' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.metafields.specs.hwinstallationtype | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
            {% endif %}
            <!--metafields hwinstallationtype-->

          
              <!--metafields specsheet-->
			{% if variant.metafields.specs.specsheet != blank %}
              <p><strong>Spec Sheet</strong>:
                <a id="specsheet" href="{{ variant.metafields.specs.specsheet}}" target="_blank">
                  Click here
                  {% capture 'meta_data_specsheet' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.metafields.specs.specsheet | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
            {% endif %}
            <!--metafields specsheet-->
              
              <!--metafields instructions-->
			{% if variant.metafields.specs.instructions != blank %}
              <p><strong>Instructions</strong>:
                <a id="instructions" href="{{ variant.metafields.specs.instructions}}" target="_blank">
                  Click here
                  {% capture 'meta_data_instructions' %}
                    {% for variant in product.variants %}
                      {{ variant.sku | json }}: {{ variant.metafields.specs.instructions | json }}
                      {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  {% endcapture %}
                </a>
              </p>
            {% endif %}
            <!--metafields instructions-->
              
              
              
              


<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
                  <script>
                   
                    
                    $(document).keypress(function(e) {
                      $('.metafields-desc .item-code').css('display','block')
                      $('.metafields-desc .item-code').css('display','block')
                    });
                    
                    var metaDataManucode = { {{ meta_data_manucode }} }
                    var metaDataBodytext = { {{ meta_data_bodytext }} }
                    var metaDataFinish = { {{ meta_data_finish }} }
                    var metaDataShade = { {{ meta_data_shade }} }
                    var metaDataMaterial = { {{ meta_data_material }} }
                    var metaDataDimensions = { {{ meta_data_dimensions }} }
                    var metaDataWeight = { {{ meta_data_weight }} }
                    var metaDataFanairflow = { {{ meta_data_fanairflow }} }
                    var metaDataElectricityuse = { {{ meta_data_electricityuse }} }
                    var metaDataAirflowefficiency = { {{ meta_data_airflowefficiency }} }
                    var metaDataBladeqty = { {{ meta_data_bladeqty }} }
                    var metaDataBladefinish = { {{ meta_data_bladefinish }} }
                    var metaDataBulbs = { {{ meta_data_bulbs }} }
                    var metaDataSpecsheet = { {{ meta_data_specsheet }} }
                    var metaDataInstructions = { {{ meta_data_instructions }} }
                    var metaDataManufacturerstock = { {{ meta_data_manufacturerstock }} }
                    var metaDataDateAvailable = { {{ meta_data_dateavailable }} }
                    var metaDataInventory = { {{ meta_data_realstock }} }
                    var metaDataInventoryQuant = { {{ meta_data_realstock_quant }} }
                    var metaDataManuQuant = { {{ meta_data_manufacturerstock_quant }} }
                    var metaDataActive = { {{ meta_data_active }} }
                    var metaDataStatusDate = { {{ meta_data_StatusDate }} }
                    var metaDataEffectiveDate = { {{ meta_data_EffectiveDate }} }
                    var metaDataUnionSKU = { {{ meta_data_UnionSKU }} }
                    var metaDataShippedVia = { {{ meta_data_ShippedVia }} }
                    var metaDataDropship = { {{ meta_data_Dropship }} }
                    var metaDataCartonSize = { {{ meta_data_CartonSize }} }
                    var metaDataCartonSize2 = { {{ meta_data_CartonSize2 }} }
                    var metaDataTotalShippingWeight = { {{ meta_data_total_shipping_weight }} }
                    var metaDatasafetyrating = { {{ meta_data_safetyrating }} }
                    var metaDatarugpileheight = { {{ meta_data_rugpileheight }} }
                    var metaDatahwcentertocenter = { {{ meta_data_hwcentertocenter }} }
                    var metaDatahwprojection = { {{ meta_data_hwprojection }} }
                    var metaDatahwdiameter = { {{ meta_data_hwdiameter }} }
                    var metaDatahwwidth = { {{ meta_data_hwwidth }} }
                    var metaDatahwlength = { {{ meta_data_hwlength }} }
                    var metaDatahwitembaselength = { {{ meta_data_hwitembaselength }} }
                    var metaDatahwinstallationtype = { {{ meta_data_hwinstallationtype }} }
                    var metaDatahwbasediameter = { {{ meta_data_hwbasediameter }} }
                    
                      function changeMetafields() {
                      	$('.metafields-desc a#manucode').text(metaDataManucode[$('.product-sku span').text()]);
                      	$('.metafields-desc a#finish').text(metaDataFinish[$('.product-sku span').text()]);
                        $('.metafields-desc a#bodytext').html(metaDataBodytext[$('.product-sku span').html()]);
                        $('.metafields-desc a#shade').text(metaDataShade[$('.product-sku span').text()]);
                      	$('.metafields-desc a#material').text(metaDataMaterial[$('.product-sku span').text()]);
                      	$('.metafields-desc a#dimensions').text(metaDataDimensions[$('.product-sku span').text()]);
                        $('.metafields-desc a#weight').text(metaDataWeight[$('.product-sku span').text()]);
                      	$('.metafields-desc a#fanairflow').text(metaDataFanairflow[$('.product-sku span').text()]);
                        $('.metafields-desc a#electricityuse').text(metaDataElectricityuse[$('.product-sku span').text()]);
                        $('.metafields-desc a#airflowefficiency').text(metaDataAirflowefficiency[$('.product-sku span').text()]);
                        $('.metafields-desc a#bladeqty').text(metaDataBladeqty[$('.product-sku span').text()]);
                        $('.metafields-desc a#bladefinish').text(metaDataBladefinish[$('.product-sku span').text()]);
                        $('.metafields-desc a#bulbs').text(metaDataBulbs[$('.product-sku span').text()]);
                        $('.metafields-desc a#specsheet').attr('href',metaDataSpecsheet[$('.product-sku span').text()]);
                        $('.metafields-desc a#instructions').attr('href',metaDataInstructions[$('.product-sku span').text()]);
                        $('.metafields-desc a#manufacturerstock').text(metaDataManufacturerstock[$('.product-sku span').text()]);
                        $('.metafields-desc a#dateavailable').text(metaDataDateAvailable[$('.product-sku span').text()]);
                        $('.metafields-desc a#realstock').text(metaDataInventory[$('.product-sku span').text()]);
                        $('.metafields-desc a#realstock-quant').text(metaDataInventoryQuant[$('.product-sku span').text()]);
                        $('.metafields-desc a#manufacturerstock-quant').text(metaDataManuQuant[$('.product-sku span').text()]);
                        $('.metafields-desc a#active-dis').text(metaDataActive[$('.product-sku span').text()]);
                        $('.metafields-desc a#StatusDate').text(metaDataStatusDate[$('.product-sku span').text()]);
                        $('.metafields-desc a#EffectiveDate').text(metaDataEffectiveDate[$('.product-sku span').text()]);
                      	$('.metafields-desc a#UnionSKU').text(metaDataUnionSKU[$('.product-sku span').text()]);
                        $('.metafields-desc a#ShippedVia').text(metaDataShippedVia[$('.product-sku span').text()]);
                        $('.metafields-desc a#Dropship').text(metaDataDropship[$('.product-sku span').text()]);
                        $('.metafields-desc a#CartonSize').text(metaDataCartonSize[$('.product-sku span').text()]);
                        $('.metafields-desc a#CartonSize2').text(metaDataCartonSize2[$('.product-sku span').text()]);
                        $('.metafields-desc a#TotalShippingWeight').text(metaDataTotalShippingWeight[$('.product-sku span').text()]);
                        $('.metafields-desc a#safetyrating').text(metaDatasafetyrating[$('.product-sku span').text()]);
                        $('.metafields-desc a#rugpileheight').text(metaDatarugpileheight[$('.product-sku span').text()]);
                        $('.metafields-desc a#hwcentertocenter').text(metaDatahwcentertocenter[$('.product-sku span').text()]);
                        $('.metafields-desc a#hwprojection').text(metaDatahwprojection[$('.product-sku span').text()]);
                        $('.metafields-desc a#hwdiameter').text(metaDatahwdiameter[$('.product-sku span').text()]);
                        $('.metafields-desc a#hwwidth').text(metaDatahwwidth[$('.product-sku span').text()]);
                        $('.metafields-desc a#hwlength').text(metaDatahwlength[$('.product-sku span').text()]);
                        $('.metafields-desc a#hwitembaselength').text(metaDatahwitembaselength[$('.product-sku span').text()]);
                        $('.metafields-desc a#hwinstallationtype').text(metaDatahwinstallationtype[$('.product-sku span').text()]);
                        $('.metafields-desc a#hwbasediameter').text(metaDatahwbasediameter[$('.product-sku span').text()]);

                        
                        if((metaDataInventory[$('.product-sku span').text()]) == "Out of stock"){
                            $('.manu-stock').css('display','block')
                        } else if ((metaDataInventory[$('.product-sku span').text()]) == "Available at Union") {
                            $('.manu-stock').css('display','none')
                      	}
                        
                        if($('#realstock').text().indexOf('Out of stock') > -1){
                          	$('.union-stock').css('display','none');
                        }
                        
                      }
                    
                     $(document).ready( function(){
                        if($('#realstock').text().indexOf('Out of stock') > -1){
                            $('.manu-stock').css('display','block');
                          	$('.union-stock').css('display','none');
                        }

                      
                      $('.product-sku span').bind('DOMSubtreeModified', function(){
                        changeMetafields();
                      });
                          
                    })
                    

                  </script>
 
                  
                  
        	</div>
        {% endif %}
        
    </div>
    
    {% endif %}
  </div>

  {% comment %}
    If is a 3 column layout, the form will move here at $bp-large (layout.isBreakpoint('L'))
  {% endcomment %}
  {% if layout == 'layout--three-col' %}
    <div class="product-form--alt" data-product-form-alt></div>
  {% endif %}

  {% capture product_readmore %}{%- include 'shortcode-readmore', text: product.description -%}{% endcapture %}
  {% unless featured or product_readmore == blank %}
    <div class="product-readmore rte">{{ product_readmore }}</div>
  {% endunless %}
</article>

{% assign show_description = blank %}
{% assign layout = blank %}
